<%- include('./partials/header.ejs'); -%>
<%- include('./partials/navbar.ejs'); -%>
<header>
    <h1>Dashboard</h1>
</header>
<main>
    <p>welcome to dashboard page, <%= user.username %></p>
</main>
<%- include('./partials/footer.ejs'); -%>
